# Misc.
*~
*.swp
build/
.idea/
*.iml
*.iml*
*.jar
*.autosave
*.zip
*.png
.cache/
*.pyc
*.tar.gz
# Python stuff
*__pycache__*
# Python virutalenv
bin
include
lib
bin/*
include/*
lib/*
local/
lib64
pip-selfcheck.json
# Project
test/files/*
